@tailwind base;
@tailwind components;
@tailwind utilities;

.bounce-div {
    animation: bounceAnimation 1.5s infinite;
}

/* Keyframes */
@keyframes bounceAnimation {
    0%,
    100% {
        opacity: 0.5;
        transform: translateY(0px);
    }
    50% {
        opacity: 1;
        transform: translateY(-150%);
    }
}
