@import "tailwindcss";

[x-cloak] {
    display: none !important;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

.bounce-div {
    animation: bounceAnimation 1.5s infinite;
}

/* Keyframes */
@keyframes bounceAnimation {
    0%,
    100% {
        opacity: 0.5;
        transform: translateY(0px);
    }
    50% {
        opacity: 1;
        transform: translateY(-150%);
    }
}
